@font-face {
  font-family: 'ABC Ginto';
  src: url('/fonts/ABCGinto-Regular.woff2') format('woff2'),
       url('/fonts/ABCGinto-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'ABC Ginto';
  src: url('/fonts/ABCGinto-Medium.woff2') format('woff2'),
       url('/fonts/ABCGinto-Medium.woff') format('woff');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'ABC Ginto';
  src: url('/fonts/ABCGinto-Bold.woff2') format('woff2'),
       url('/fonts/ABCGinto-Bold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply font-sans text-slate-800 antialiased bg-surface-light;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}
